{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
         <script src='{% static "js/chart.js" %}'></script>

  <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">




</head>

<body>




  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4"></h1>
  </div>

    <!-- Marketing Icons Section -->
    <div class="container mb-3 border">
        <h4>뉴스의 감성 분석</h4>
        <div class="row my-3">
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart1" width="115" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/전체.html'">
                        <h5>전 체</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart2" width="115" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/정치.html'">
                        <h5>정 치</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart3" width="115" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/사회.html'">
                        <h5>사 회</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart4" width="115" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/경제.html'">
                        <h5>경 제</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart5" width="115" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/생활문화.html'">
                        <h5>생 활/문 화</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart6" width="115" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/세계.html'">
                        <h5>세 계</h5>
                    </div>
                </div>
            </div>
            <div class="col-xs">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart7" width="115" height="90"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light" onclick="location.href='/IT과학.html'">
                        <h5>I T/과 학</h5>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>



      <script type="text/javascript">
      var a1 = [{{ nut1 }},{{ neg1 }},{{ pos1 }}]
      data = {
            datasets: [{

                backgroundColor: ['gray','red','blue'],
                data: a1
            }],


       };
        var ctx2 = document.getElementById("myChart1");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
      var a2 = [{{ nut2 }},{{ neg2 }},{{ pos2 }}]
      data = {
            datasets: [{

                backgroundColor: ['gray','red','blue'],
                data: a2
            }],


       };
        var ctx2 = document.getElementById("myChart2");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
      var a3 = [{{ nut3 }},{{ neg3 }},{{ pos3 }}]
      data = {
            datasets: [{

                backgroundColor: ['gray','red','blue'],
                data: a3
            }],


       };
        var ctx2 = document.getElementById("myChart3");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
      var a4 = [{{ nut4 }},{{ neg4 }},{{ pos4 }}]
      data = {
            datasets: [{

                backgroundColor: ['gray','red','blue'],
                data: a4
            }],


       };
        var ctx2 = document.getElementById("myChart4");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
      var a5 = [{{ nut5 }},{{ neg5 }},{{ pos5 }}]
      data = {
            datasets: [{

                backgroundColor: ['gray','red','blue'],
                data: a5
            }],


       };
        var ctx2 = document.getElementById("myChart5");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
      var a6 = [{{ nut6 }},{{ neg6 }},{{ pos6 }}]
      data = {
            datasets: [{

                backgroundColor: ['gray','red','blue'],
                data: a6
            }],


       };
        var ctx2 = document.getElementById("myChart6");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });
      var a7 = [{{ nut7 }},{{ neg7 }},{{ pos7 }}]
      data = {
            datasets: [{

                backgroundColor: ['gray','red','blue'],
                data: a7
            }],


       };
        var ctx2 = document.getElementById("myChart7");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    responsive : true,
                    }
         });


      </script>

    <div class="container border">
        <div class="row">
            <div class="col-sm-4 border">
                <h6>정치 뉴스중 HOT topic</h6>
    <div class="nav flex-column nav-pills" id="정치핫토픽" role="tablist" aria-orientation="vertical">
      <a class="nav-link active mt-3" id="핫토픽1" data-toggle="tab" href="#요약문1" role="tab" aria-controls="요약문1" aria-selected="true">{{ example1 }}</a>

      <a class="nav-link mt-3" id="핫토픽2" data-toggle="tab" href="#요약문2" role="tab" aria-controls="요약문2" aria-selected="false">{{ example2 }}</a>

      <a class="nav-link mt-3" id="핫토픽3" data-toggle="tab" href="#요약문3" role="tab" aria-controls="요약문3" aria-selected="false">{{ example3 }}</a>

      <a class="nav-link mt-3" id="핫토픽4" data-toggle="tab" href="#요약문4" role="tab" aria-controls="요약문4" aria-selected="false">{{ example4 }}</a>

        <a class="nav-link mt-3" id="핫토픽5" data-toggle="tab" href="#요약문5" role="tab" aria-controls="요약문5" aria-selected="false">{{ example5 }}</a>

    </div>
  </div>
  <div class="col-sm-4 border">
    <div class="tab-content" id="요약문들">
        <h6>기사들의 요약문</h6>
<script>
       function newWindow(mytxt){
        var newWindow = window.open("","MsgWindow","width=500, height=800, left=800, top=400 location=no, status=no, scrollbars=yes");
        switch(mytxt){
            case '1_1' : newWindow.document.write("{{txt1_1}}"); break;
            case '1_2' : newWindow.document.write("{{txt1_2}}"); break;
            case '1_3' : newWindow.document.write("{{txt1_3}}"); break;
            case '1_4' : newWindow.document.write("{{txt1_4}}"); break;
            case '1_5' : newWindow.document.write("{{txt1_5}}"); break;
            case '2_1' : newWindow.document.write("{{txt2_1}}"); break;
            case '2_2' : newWindow.document.write("{{txt2_2}}"); break;
            case '2_3' : newWindow.document.write("{{txt2_3}}"); break;
            case '2_4' : newWindow.document.write("{{txt2_4}}"); break;
            case '2_5' : newWindow.document.write("{{txt2_5}}"); break;
            case '3_1' : newWindow.document.write("{{txt3_1}}"); break;
            case '3_2' : newWindow.document.write("{{txt3_2}}"); break;
            case '3_3' : newWindow.document.write("{{txt3_3}}"); break;
            case '3_4' : newWindow.document.write("{{txt3_4}}"); break;
            case '3_5' : newWindow.document.write("{{txt3_5}}"); break;
            case '4_1' : newWindow.document.write("{{txt4_1}}"); break;
            case '4_2' : newWindow.document.write("{{txt4_2}}"); break;
            case '4_3' : newWindow.document.write("{{txt4_3}}"); break;
            case '4_4' : newWindow.document.write("{{txt4_4}}"); break;
            case '4_5' : newWindow.document.write("{{txt4_5}}"); break;
            case '5_1' : newWindow.document.write("{{txt5_1}}"); break;
            case '5_2' : newWindow.document.write("{{txt5_2}}"); break;
            case '5_3' : newWindow.document.write("{{txt5_3}}"); break;
            case '5_4' : newWindow.document.write("{{txt5_4}}"); break;
            case '5_5' : newWindow.document.write("{{txt5_5}}"); break;
            default : break;
        }
       }
   </script>
<script>
    function face(sent) {

    var img_src;
    if (sent === 0) {
        img_src = "/static/img/2.PNG";
        }
    else if (sent === 1) {
        img_src = "/static/img/1.PNG";
        }
    else {
        img_src = "/static/img/3.PNG";
        }
    return img_src
    }

</script>


      <div class="tab-pane fade show active" id="요약문1" role="tabpanel" aria-labelledby="요약문1-tab">
          <a class="card">
              <div class="card-body border">
            <p class="card-text small" onclick="newWindow('1_1')">{{ sum1_1 }} <img id="face1_1" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face1_1').src=face({{sent1_1}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('1_2')">{{ sum1_2 }} <img id="face1_2" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face1_2').src=face({{sent1_2}})</script></p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('1_3')">{{ sum1_3 }} <img id="face1_3" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face1_3').src=face({{sent1_3}})</script></p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('1_4')">{{ sum1_4 }} <img id="face1_4" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face1_4').src=face({{sent1_4}})</script></p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('1_5')">{{ sum1_5 }} <img id="face1_5" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face1_5').src=face({{sent1_5}})</script></p>
          </div>
          </a>
      </div>
      <div class="tab-pane fade" id="요약문2" role="tabpanel" aria-labelledby="요약문2-tab">
          <a class="card">
              <div class="card-body border">
            <p class="card-text small" onclick="newWindow('2_1')"> {{ sum2_1 }}<img id="face2_1" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face2_1').src=face({{sent2_1}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('2_2')">{{ sum2_2 }}<img id="face2_2" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face2_2').src=face({{sent2_2}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('2_3')">{{ sum2_3 }}<img id="face2_3" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face2_3').src=face({{sent2_3}})</script></p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('2_4')">{{ sum2_4 }}<img id="face2_4" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face2_4').src=face({{sent2_4}})</script></p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('2_5')">{{ sum2_5 }}<img id="face2_5" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face2_5').src=face({{sent2_5}})</script> </p>
          </div>
          </a>
      </div>
      <div class="tab-pane fade" id="요약문3" role="tabpanel" aria-labelledby="요약문3-tab">
          <a class="card">
              <div class="card-body border">
            <p class="card-text small" onclick="newWindow('3_1')">{{ sum3_1 }}<img id="face3_1" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face3_1').src=face({{sent3_1}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('3_2')">{{ sum3_2 }}<img id="face3_2" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face3_2').src=face({{sent3_2}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('3_3')">{{ sum3_3 }}<img id="face3_3" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face3_3').src=face({{sent3_3}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('3_4')">{{ sum3_4 }}<img id="face3_4" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face3_4').src=face({{sent3_4}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('3_5')">{{ sum3_5 }}<img id="face3_5" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face3_5').src=face({{sent3_5}})</script> </p>
          </div>
          </a>
      </div>
      <div class="tab-pane fade" id="요약문4" role="tabpanel" aria-labelledby="요약문4-tab">
          <a class="card">
              <div class="card-body border">
            <p class="card-text small" onclick="newWindow('4_1')">{{ sum4_1 }} <img id="face4_1" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face4_1').src=face({{sent4_1}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('4_2')">{{ sum4_2 }}<img id="face4_2" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face4_2').src=face({{sent4_2}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('4_3')">{{ sum4_3 }}<img id="face4_3" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face4_3').src=face({{sent4_3}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('4_4')">{{ sum4_4 }} <img id="face4_4" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face4_4').src=face({{sent4_4}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('4_5')">{{ sum4_5 }} <img id="face4_5" src="" width="25px" height="25px" class="float-right"><script>document.getElementById('face4_5').src=face({{sent4_5}})</script> </p>
          </div>
          </a>
      </div>
              <div class="tab-pane fade" id="요약문5" role="tabpanel" aria-labelledby="요약문5-tab">
          <a class="card">
              <div class="card-body border">
            <p class="card-text small" onclick="newWindow('5_1')">{{ sum5_1 }} <img id="face5_1" src="" width="20px" height="20px" class="float-right"><script>document.getElementById('face5_1').src=face({{sent5_1}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('5_2')">{{ sum5_2 }}<img id="face5_2" src="" width="20px" height="20px" class="float-right"><script>document.getElementById('face5_2').src=face({{sent5_2}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('5_3')">{{ sum5_3 }}<img id="face5_3" src="" width="20px" height="20px" class="float-right"><script>document.getElementById('face5_3').src=face({{sent5_3}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('5_4')">{{ sum5_4 }} <img id="face5_4" src="" width="20px" height="20px" class="float-right"><script>document.getElementById('face5_4').src=face({{sent5_4}})</script> </p>
          </div>
          <div class="card-body border">
            <p class="card-text small" onclick="newWindow('5_5')">{{ sum5_5 }} <img id="face5_5" src=""width="20px" height="20px" class="float-right"><script>document.getElementById('face5_5').src=face({{sent5_5}})</script> </p>
          </div>
          </a>
      </div>
    </div>
  </div>

          <div class="col-sm-4 border">
             <div class="card">
                    <div class="card-body">
                        <canvas id="myChart9" width="200px" height="200px"></canvas>
                    </div>
                    <div class="card card-body text-center bg-light">
                        <h5>정 치</h5>
                    </div>
                </div>
              <div class="card-body">
              <a><img src="/static/img/1.PNG" width="30px" height="30px" class="img-responsive"> 긍정</a>
              <a><img src="/static/img/2.PNG" width="30px" height="30px" class="img-responsive"> 부정</a>
              <a><img src="/static/img/3.PNG" width="30px" height="30px" class="img-responsive"> 중립</a>
              </div>
          </div>
<script>
      var a8 = [{{nut2}},{{neg2}},{{pos2}}]
      data = {
            datasets: [{
                backgroundColor: ['gray','red','blue'],
                data: a8

            }],
               labels: ['중립', '부정', '긍정']

       };
        var ctx2 = document.getElementById("myChart9");
         var myDoughnutChart = new Chart(ctx2, {
          type: 'doughnut',
           data: data,
            options: {
                    maintainAspectRatio : false,
                    responsive : true,
                    }
         });
</script>


  </div>


    </div>
    </div>



  <!-- Bootstrap core JavaScript -->
  <script src='{% static "js/jquery.min.js" %}'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/chart.min.js" %}'></script>
  <script src='{% static "js/chart.bundle.min.js" %}'></script>



</body>

</html>